<ion-view view-title="CHAT">
    <ion-content class="content-stable padding" on-tap="showTime = !showTime">

  
    <div ng-repeat="message in messages" ng-class="{other: message.userId != myId}" class="message-wrapper">
        <div>
            <div class="chat-bubble right" ng-class="{'slide-right': showTime, '': !showTime}">
                <div class="message ng-binding" autolinker="">{{ message.text }}</div>
                <div class="message-detail">
                    <small>
                        <span class="ng-binding"><strong>Schirnding</strong></span>,
                        <span>{{message.time}}</span>
                    </small>
                </div>
            </div>
        </div>
    </div>

</ion-content>

<ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
        <input type="text" placeholder="Schreibe eine Nachricht" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
    </label>
    <button class="button button-clear" ng-click="sendMessage()">Senden</button>
</ion-footer-bar>
