<ion-view view-title="ANZEIGE SUCHEN">
    <ion-content>
        <form ng-submit="show_adverts(advertsearch)">
            <div class="card">
                <div class="item item-divider">
                    Kategorie
                </div>
            
                <div class="item item-input item-select">
                    <div class="input-label">
                        Kategorie auswählen
                    </div>
                    
                    <select ng-model="advertsearch.advertcat" ng-options="obj.advert_category_id as obj.advert_category_name for obj in advertcategory.data" required>
                        <option value="">BITTE AUSWÄHLEN</option>
                    </select>
                </div>
 
            </div>
            <div class="card">
                <div class="item item-divider">
                    Sonstige Suchkriterien
                </div>
                <div class="item item-text-wrap">

                </div>
            </div>
            <button class="button button-assertive" style="margin-left: 10px">SUCHEN</button>
        </form>
    </ion-content>
</ion-view>
