<ion-view view-title="ANZEIGEN">
    <ion-content>
        <div class="list card" ng-repeat="advertresult in advertresult">
            <div class="item item-avatar">
                <img src="img/ionic.png">
                <h2>{{advertresult.advert_category_name}}</h2>
                <p>{{advertresult.advert_datetime}} - {{advertresult.advert_user_name}}</p>
            </div>
            
            <div class="item item-body">
                <img class="full-image" src="img/delorean.jpg">
                <p>{{advertresult.advert_description}}</p>
                <p>
                    <a href="#" class="subdued">1 Gefällt mir</a>
                    <a href="#" class="subdued">{{advertresult.advert_comment_sum}} Kommentare</a>
                </p>
            </div>
            
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Gefällt mir
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Teilen
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-eye"></i>
                    Details
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
