<ion-view view-title="ANZEIGE SUCHEN">
    <ion-content>
        <form>
            <div class="card">
                <div class="item item-divider">
                    Kategorie
                </div>
                <div class="item item-text-wrap">
                    <input type="radio" name="advert_category" value="" ng-model="title">
                </div>
            </div>
            <div class="card">
                <div class="item item-divider">
                    Sonstige Suchkriterien
                </div>
                <div class="item item-text-wrap">

                </div>
            </div>
            <button class="button button-assertive" ng-click="show_adverts()" style="margin-left: 10px">SUCHEN</button>
        </form>
    </ion-content>
</ion-view>
