.item-divider {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #f5f5f5;
    color: #222;
    font-weight: 500; 
}

.bar.bar-positive {
    border-color: #f9fafc;;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 		0px 2px 3px 1px rgba(0, 0, 0, 0.1);
    color: #000 !important; 
    background-image: none !important;
}

.bar.bar-positive .title {
      color: #000; 
}

.bar-positive .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #000;
    font-size: 17px;
}

.scroll-content {
    background-color: #1abc9c;   
}

img.full-img {
    width: 100px !important;   
}